/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  margin: 3rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}
