<ng-container *ngIf="state.params">
  <mat-card>
    <mat-card-content>
      <h1>Stats Web Demo</h1>

      <p>
        <strong>
          <em>Count:</em>
          {{ state.params.count }}
        </strong>
      </p>
      <p>
        <strong>
          <em>Delay:</em>
          {{ state.params.delay }}
        </strong>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isLoading$ | async"
        (click)="process()">
        Process
      </button>
      &nbsp;
      <button
        mat-button
        color="primary"
        [disabled]="isLoading$ | async"
        (click)="fetchParams()">
        Refresh Params
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading$ | async"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-container>

<ng-container *ngIf="state.entries">
  <mat-card>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="state.entries"
        class="mat-elevation-z8">
        <!-- Request Sent Column -->
        <ng-container matColumnDef="date">
          <th
            mat-header-cell
            *matHeaderCellDef>
            Date Sent
          </th>
          <td
            mat-cell
            *matCellDef="let element">
            {{ element.date }}
          </td>
        </ng-container>

        <!-- Response Column -->
        <ng-container matColumnDef="response">
          <th
            mat-header-cell
            *matHeaderCellDef>
            Response
          </th>
          <td
            mat-cell
            *matCellDef="let element">
            <code>{{ element.response | json }}</code>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>
